.container {
  background-color: var(--primaryBlue);
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: right;
  scroll-behavior: smooth;
}

.cardFrame {
  margin-top: 2.4rem;
  max-width: 95%;
}

.cardContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.menu {
  flex: 1;
  padding: 2rem 2rem;
}

.menuUl {
  list-style: none;
  padding: 1rem;
  border: solid 1px var(--darkBlue);
  border-radius: 14px;
  position: sticky;
  position: -webkit-sticky;
  top: 1.5rem;
}

.menuLi {
  padding: 0.5rem 0;
  border-bottom: solid 0.5 black;
  cursor: pointer;
}

.content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
}

.contentText {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.contentImage {
  width: 100%;
  object-fit: cover;
  border-radius: 20px;
  margin: 2rem;
}

.articleUl {
  list-style: square inside;
  direction: rtl;
}

.spanFiller {
  padding: 1.5rem;
}

.navMenuLinks,
.navMenuLinks:hover,
.navMenuLinks:visited {
  text-decoration: none;
  color: var(--darkBlue);
  font-weight: 500;
  font-size: 1.2rem;
}

@media only screen and (max-width: 1000px) {
  /* ul {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  } */
  .articleA,
  .navMenuLinks {
    font-size: 1rem;
  }
  .cardFrame {
    width: 100%;
  }
  .cardContainer {
    flex-direction: column;
  }
  .spanFiller {
    padding: 0.5rem;
  }
}
